<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale" />
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="prodcut-image">
          <img v-bind:src="image" style="width:200px" />
        </div>
        <div class="product-info">
          <h1>{{ product }}</h1>
          <a :href="link">{{ link }}</a>
          <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">Almost out!</p>
          <p v-else :class="{strikethrough: !inStock }">Out of Stock</p>
          <span v-if="onSale==true && inventory > 0">On Sale!</span>
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
          <div
            v-for="variant in variants"
            :key="variant.variantId"
            class="color-box"
            :style="{backgroundColor: variant.variantColor}"
            @mouseover="updateProduct(variant.variantImage)"
          ></div>
          <h5>Sizes Available</h5>
          <ul>
            <li v-for="size in sizes">{{ size }}</li>
          </ul>

          <button
            v-on:click="addToCart"
            :disabled="!inStock"
            :class="{ disabledButton: !inStock }"
          >
            Add to Cart
          </button>
          <button
            v-on:click="removeFromCart"
            :disabled="cart == 0"
            :class="{ disabledButton: cart == 0 }"
          >
            Remove item
          </button>
          <div class="cart"><p>Cart {{ cart }}</p></div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
